html {
    height:100%;
    background-color:#d1dad9;
    font-family:monospace;
}
main {
    display:grid;
    place-items:center;
}
main > div {
    margin:15px;
}

/* Header Stuff: */
#pageTitle {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:250px;
}
.headerEl {
    display:flex;
    align-items:center;
    justify-content:center;
}
#mainHeader {
    color:#86D4DE;
    background-color:#444;
    width:400px;
    height:85px;
    box-shadow:-5px -5px 10px 0px rgba(0, 0, 0, 0.5);
}
#pageUndertext {
    padding-bottom:1rem;
    font-size:1.2rem;
}

/* For the Manual Enqueue Job Input Area: */
#enqueueJobArea {
    width:575px;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    background-color:#444;
}
#enqJobAreaForm {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    width:100%;
}
#enqJobAreaForm button {
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-family:monospace;
    padding:5px;
}
#enqJobAreaForm button:hover {
    color:#00a1b6;
}

/* Jobs List Area: */
#jobsListArea {
    background-color:#86D4DE;
    border:17.5px solid #444;
    border-radius:20px;
    box-shadow:-5px -5px 10px 0px rgba(0, 0, 0, 0.5);
    display:flex;
    flex-direction:column;
    width:575px;
}
#jobsListAreaBtns {
    display:flex;
    justify-content:space-evenly;
}
#jobsListAreaBtns button {
    cursor:pointer;
    color:#86D4DE;
    border:none;
    border-radius:20px;
    background-color:#444;
    font-family:monospace;
    padding:10px;
    padding-left:15px;
    padding-right:15px;
    box-shadow:-5px -5px 10px 0px rgba(156, 151, 151, 0.5);
    margin-top:20px;
    margin-bottom:20px;
}
#jobsListAreaBtns button:hover {
    color:#00e1ff;
}

/* Scroll bar for the Jobs List Area: */
#jobsList::-webkit-scrollbar {
  width:10px;
}
#jobsList::-webkit-scrollbar-track {
  background: white;
  border-radius: 25px;
}
#jobsList::-webkit-scrollbar-thumb {
  background-color:#40bcf4;
  border-radius: 6px;
  border: 2px solid  #caeff8;
}
#jobsList::-webkit-scrollbar-thumb:hover {
  background-color: #36cff5;
}

/* Individual Job Display Area: */
#indivJobArea {
    background-color:#444;
    width:500px;
    padding:10px;
    box-shadow:-5px -5px 10px 0px rgba(0, 0, 0, 0.5);
}
#indivJobAreaBtns {
    display:flex;
    justify-content:space-evenly;
}
#indivJobAreaBtns button {
    cursor:pointer;
    color:#444;
    background-color:#d1dad9;
    font-family:monospace;
}
#indivJobAreaBtns button:hover {
    cursor:pointer;
    color:#00a1b6;
    background-color:#d1dad9;
    font-family:monospace;
}
#jobDisplayBoxWrapper {
    padding:10px;
}
#jobDisplayBox {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
#jobDisplayBoxInfo {
    background-color:#86D4DE;
    padding:5px;
    width:450px;
}
#jobDisplayBoxBtns {
    display:flex;
    width:100%;
    margin-top:15px;
    font-family:monospace;
    justify-content:space-evenly;
}
#jobDisplayBoxBtns button{
    cursor:pointer;
    border:none;
    background-color:#d1dad9;
    border-radius:20px;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
}
#jobDisplayBoxBtns button:hover{
    color:#00a1b6;
}

/* Loading Spinner: */
#spinning-loader-id {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-top:10px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* About Panel at the bottom of the page: */
#AboutPanel {
    border:5px solid #444;
    border-radius:10px;
    background-color:white;
    font-family:monospace;
    width:475px;
    height:250px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:10px;
}
